.stats__wrapper {
  position: absolute;
  margin-left: 48px;
}

.stats-weight {
  color: #ffffff;
  width: 78px;
  height: 78px;
  position: absolute;
  bottom: 60px;
  right: 16px;

  border: 1px solid red;
  border-radius: 50%;
  background-color: red;
}

.stats-weight__count {
  margin: 0;
  margin-top: 20px;
  margin-left: 29px;
  font-size: 42px;
  line-height: 22px;
}

.stats-weight__count--zero {
  margin-left: 10px;
}

.stats-weight__massa {
  margin-top: 8px;
  margin-left: 30px;
  font-size: 21px;
  line-height: 22px;
}

.stats-info__description {
  font-size: 16px;
  margin-top: 24px;
}

.stats-info__title {
  font-size: 48px;
  margin-top: 25px;
  margin-bottom: 0;
}

.stats-info__teste {
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  margin-top: 19px;
  margin-bottom: 0;
}

.stats-info__table {
  width: 126px;
  margin-top: 16px;
}

.stats-info__table--present {
  display: block;
  margin-top: 0;
}
